<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>E-Greetings Maker</title>
    </head>
    <body>

        <div class="flex-col">
            <h1>Happy Birthday Simon!</h1>
            <img width="33%" src="birthday.jpeg"/>

            <div class="messages flex-col">
            </div>
    
        </div>

    </body>
</html>