<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <%- include('sharing-links.ejs') %>

        <div class="flex-col">
            <h1>Happy Birthday <%= recipient %> !</h1>
            <img width="33%" src="birthday.jpeg"/>

            <div class="messages flex-col">
            </div>
    
        </div>
        <%- include('messages.ejs') %>
        <%- include('signature-form.ejs') %>
    </body>
</html>