<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="flex-col">
        <h1><%= recipient %>, Sorry you're leaving !</h1>
        <img src="bye.jpeg"/>
    </body>
</html>