<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>E-Greetings Maker</title>
    </head>
    <body>

        <div class="flex-col">
            <h1>Simon, Sorry you're leaving !</h1>
            <img width="33%" src="bye.jpeg"/>
        </div>
        
    </body>
</html>