<div class="flex-col">
    <% messages.forEach((message)=>{ %>
        <div class="message">
            <p><%=message.message %></p>
            <div class="align-end"><%=message.from %></div>
        </div>
        
    <% }); %>
</div>
