<div class="flex-col">
    <% messages.forEach((message)=>{ %>
        <div class="message flex-col align-start">
            <p><%=message._Message %></p>
            <div><%=message._From %></div>
        </div>
        
    <% }); %>
</div>
