<div class="flex-col">
    <% messages.forEach((message)=>{ %>
        <div class="message flex-col align-start">
            <p><%=message.message %></p>
            <div><%=message.from %></div>
        </div>
        
    <% }); %>
</div>
