<div class="flex-col align-start absolute">
    <button class="share-button" onclick="alert('the url')">Share Edit Link</button>
    <button class="share-button" onclick="alert('the url')">Share Recipient Link</button>
</div>