<div class="flex-col align-start absolute">
    <button class="share-button" onclick="alert('<%=url %>/edit-greetings-card?cardId=<%=cardId %>')">Share Edit Link</button>
    <button class="share-button" onclick="alert('<%=url %>/view-greetings-card?cardId=<%=cardId %>')">Share Recipient Link</button>
</div>