
<form id="signature" class="flex-col align-start" action="/post-signature" method="POST">
    <h2>Add your message:</h2>
    <label class="inline-flex w-full justify-start">
        <div class="input-title w-10">message:</div><textarea rows="5" cols="30"></textarea>
    </label>
    <label class="inline-flex w-full justify-start">
        <div class="input-title w-10">from:</div><input type="text" />
    </label>
    
</form>